<section class="hp-posts">
  <div class="container-fluid">
    <div class="hp-posts__inner">
      <div class="hp-posts__items">
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">Udělali jsme velký progres,</div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
        <div class="hp-posts__col">
          <a href="#" class="hp-posts__item">
            <div class="hp-posts__img">
              <img
                src="images/content/2.jpeg"
                alt=""
                loading="lazy"
                sizes=" (min-width: 1132px) 600px"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Tomáš Čarnogurský</li>
              </ul>
              <div class="hp-posts__title">
                Udělali jsme velký progres, zhodnotil poslední kola Valenta
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
