<div class="game-section">
  <ul class="game-section__tags">
    <li>12. kolo F:L</li>
    <li>ne 30. 4. 2023, 15:00</li>
  </ul>
  <div class="game-section__inner">
    <ul class="game-section__logos">
      <li>
        <div class="game-section__logo">
          <img src="images/ico/logo.svg" loading="lazy" alt="" />
        </div>
      </li>
      <li>
        <div class="game-section__logo">
          <img src="images/ico/sparta.svg" loading="lazy" alt="" />
        </div>
      </li>
    </ul>
    <div class="game-section__teams">
      <h3 class="h4 text-blue-light">FC Slovan Liberec</h3>
      <h3 class="h4 text-light">AC Sparta Praha</h3>
    </div>
    <div class="game-section__result">3:2</div>
    <ul class="game-section__links">
      <li>
        <a href="#"> {% include "@images/reportaz.svg" %} Reportáž </a>
      </li>
      <li>
        <a href="#"> {% include "@images/galerie.svg" %} Galerie </a>
      </li>
    </ul>
  </div>
</div>
