<div class="game-section">
  <ul class="game-section__tags">
    <li>12. kolo F:L</li>
    <li>ne 30. 4. 2023, 15:00</li>
  </ul>
  <div class="game-section__inner">
    <ul class="game-section__logos">
      <li>
        <div class="game-section__logo">
          <img src="images/ico/logo.svg" loading="lazy" alt="" />
        </div>
      </li>
      <li>
        <div class="game-section__logo">
          <img src="images/ico/sparta.svg" loading="lazy" alt="" />
        </div>
      </li>
    </ul>
    <div class="game-section__teams">
      <h3 class="h4 text-blue-light">FC Slovan Liberec</h3>
      <h3 class="h4 text-light">AC Sparta Praha</h3>
    </div>
    <div class="game-section__result">3:2</div>
    <ul class="game-section__links">
      <li>
        <a href="#"> {% include "@images/reportaz.svg" %} Reportáž </a>
      </li>
      <li>
        <a href="#"> {% include "@images/galerie.svg" %} Galerie </a>
      </li>
    </ul>
  </div>
  <div class="game-section__info">
    <div class="game-section__box">
      <ul class="game-section__stats">
        <li>
          <strong>Branky:</strong> 22. Doumbia, 57. Tupta - 52. a 81. Trusa, 78.
          Kubala
        </li>
        <li>
          <strong>Žluté karty: </strong>
          43. Polyák - 60. Čech, 75. Ryneš, 84. Rada
        </li>
        <li>
          <strong>Rozhodčí:</strong>
          F. Kotala - P. Antoníček, K. Mikeska; VAR: M. Křepský AVAR: A. Horák
        </li>
        <li><strong>Diváci:</strong> 1758</li>
      </ul>
    </div>
    <div class="game-section__box">
      <div class="game-section__box-row">
        <div class="game-section__col">
          <h4 class="h4">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            FC Slovan Liberec
          </h4>
          <p>
            Bačkovský – Plechatý, Prebsl, Pourzitidis, Mikula (C) – Polyák (46.
            Ghali), Frýdek (46. Lexa), Červ, Doumbia (55. Varfolomejev) –
            Olatunji (80. Rabušic), Tupta (65. Kozák).
          </p>
          <p>
            <strong>Náhradníci:</strong> Vliegen - Ndefe, Preisler, Lehoczki,
            Lexa, Michal, Varfolomejev, Ghali, Kozák, Rondić, Rabušic.
          </p>
        </div>
        <div class="game-section__col">
          <h4 class="h4">
            <img src="images/ico/sparta.svg" loading="lazy" alt="" />
            AC Sparta Praha
          </h4>
          <p>
            Vízek – Kodeš, Čech (62. Rada), Smrž – Gabriel, Koubek (77. Hlaváč),
            Kučera, Ryneš – Kubala, Vašulín, Trusa (88. Baloun).
          </p>
          <p>
            Náhradníci: Reichl - Baloun, Hlaváč, Klíma, Leibl, Rada, Novotný.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
