<div class="socialNews">
  <div class="socialNews__title">Krátké zprávy</div>
  <div class="socialNews__item">
    <div class="socialNews__date">17. 4. 2023</div>
    <div class="socialNews__subtitle">Sleva pro permanentkáře</div>
    <p>
      Všichni držitelé permanentních vstupenek na letošní sezónu mohou v našem
      e-shopu získat 20% slevu na dosud nezlevněné produkty ze sortimentu Nike.
      Více zde.
    </p>
  </div>
  <div class="socialNews__item">
    <div class="socialNews__date">17. 4. 2023</div>
    <div class="socialNews__subtitle">Sleva pro permanentkáře</div>
    <p>
      Všichni držitelé permanentních vstupenek na letošní sezónu mohou v našem
      e-shopu získat 20% slevu na dosud nezlevněné produkty ze sortimentu Nike.
      Více zde.
    </p>
  </div>
  <div class="socialNews__item">
    <div class="socialNews__date">17. 4. 2023</div>
    <div class="socialNews__subtitle">Sleva pro permanentkáře</div>
    <p>
      Všichni držitelé permanentních vstupenek na letošní sezónu mohou v našem
      e-shopu získat 20% slevu na dosud nezlevněné produkty ze sortimentu Nike.
      Více zde.
    </p>
  </div>
</div>
