<section class="posts">
  <div class="container">
    <h5 class="h4 mb-3">Aktuálně na webu</h5>
    <div class="row g-5">
      <div class="col-xl-3 col-lg-6">
        <a href="#" class="hp-posts__item">
          <div class="hp-posts__img">
            <img src="images/content/2.jpeg" alt="" loading="lazy" />
          </div>
          <div class="hp-posts__info">
            <ul class="tags">
              <li class="tags__date">včera</li>
            </ul>
            <div class="hp-posts__title">
              Udělali jsme velký progres, zhodnotil poslední kola Valenta
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-6">
        <a href="#" class="hp-posts__item">
          <div class="hp-posts__img">
            <img src="images/content/4.jpeg" alt="" loading="lazy" />
          </div>
          <div class="hp-posts__info">
            <ul class="tags">
              <li class="tags__date">včera</li>
            </ul>
            <div class="hp-posts__title">
              Udělali jsme velký progres, zhodnotil poslední kola Valenta
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-6">
        <a href="#" class="hp-posts__item">
          <div class="hp-posts__img">
            <img src="images/content/3.jpeg" alt="" loading="lazy" />
          </div>
          <div class="hp-posts__info">
            <ul class="tags">
              <li class="tags__date">včera</li>
            </ul>
            <div class="hp-posts__title">
              Udělali jsme velký progres, zhodnotil poslední kola Valenta
            </div>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-6">
        <a href="#" class="hp-posts__item">
          <div class="hp-posts__img">
            <img src="images/content/1.jpeg" alt="" loading="lazy" />
          </div>
          <div class="hp-posts__info">
            <ul class="tags">
              <li class="tags__date">včera</li>
            </ul>
            <div class="hp-posts__title">
              Udělali jsme velký progres, zhodnotil poslední kola Valenta
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
