<section class="player-section">
  <div class="container">
    <div class="player-section__wrapper">
      <div class="player-section__img">
        <img src="images/content/player.png" alt="player" />
      </div>
      <div class="player-section__content">
        <div class="player-section__bg">
          Dominik
          <br />
          Preisler
        </div>
        <div class="player-section__number">#20</div>
        <div class="player-section__title">
          Dominik
          <br />
          Preisler
        </div>
        <div class="player-section__flag">
          <img src="images/content/flag.png" alt="player" />
        </div>
        <ul class="player-section__info">
          <li><strong>obr치nce</strong></li>
          <li>20. 9. 1995 (28 let)</li>
          <li>183 cm</li>
          <li>71 kg</li>
        </ul>
        <ul class="player-section__season">
          <li>
            Z치pasy v lize
            <span>110</span>
          </li>
          <li>
            Sezony ve Slovanu
            <span>2</span>
          </li>
          <li>
            Z치pasy za Slovan
            <span>38</span>
          </li>
          <li>
            G칩ly za Slovan
            <span>1</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
