<section class="fanshop">
  <div class="container">
    <ul class="fanshop__list">
      <li class="fanshop__col">
        <a href="#" class="fanshop__item">
          <img src="images/content/shop-1.jpeg" alt="" loading="lazy" />
          <div class="fanshop__info">
            <div class="fanshop__title">Bílý domácí dres 2022/23</div>
            <div class="fanshop__price">899 Kč</div>
          </div>
        </a>
      </li>
      <li class="fanshop__col">
        <a href="#" class="fanshop__item">
          <img src="images/content/shop-2.jpeg" alt="" loading="lazy" />
          <div class="fanshop__info">
            <div class="fanshop__title">Bílý domácí dres 2022/23</div>
            <div class="fanshop__price">899 Kč</div>
          </div>
        </a>
      </li>
      <li class="fanshop__col">
        <a href="#" class="fanshop__item">
          <img src="images/content/shop-3.jpeg" alt="" loading="lazy" />
          <div class="fanshop__info">
            <div class="fanshop__title">Bílý domácí dres 2022/23</div>
            <div class="fanshop__price">899 Kč</div>
          </div>
        </a>
      </li>
      <li class="fanshop__col">
        <a href="#" class="fanshop__item">
          <img src="images/content/shop-4.jpeg" alt="" loading="lazy" />
          <div class="fanshop__info">
            <div class="fanshop__title">Bílý domácí dres 2022/23</div>
            <div class="fanshop__price">899 Kč</div>
          </div>
        </a>
      </li>
    </ul>
    <a href="#" class="link ml-auto">Další produkty</a>
  </div>
</section>
