<section class="article-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-11 m-auto">
        <div class="article-section__header">
          <ul class="tags">
            <li class="tags__date">včera</li>
            <li class="tags__tag">Šimon Knopp</li>
          </ul>
          <h1 class="h1">SLOVAN+ Podcast #4: S Jiřím Liškou nejen o ženském týmu</h1>
          <div class="perex">Liberec - Ve čtvrtém díle SLOVAN+ Podcastu doplnil oblíbené moderátory sportovní ředitel žen a akademie dívek Jiří Liška. Společně se samozřejmě vraceli k utkání proti Spartě, ale řeč byla i o ženském fotbalu a nechyběly ani historky z oslav třetího titulu... První část podcastu si můžete poslechnout ze záznamu na YouTube, druhou naleznete v placené části na platformě SLOVAN+.</div>
        </div>
      </div>
      <div class="col-12">
        <div class="article-section__img">
          <img
          alt=""
          loading="lazy"
          srcset="
            images/content/2.jpeg 855w,
            images/content/2.jpeg 768w,
            images/content/2.jpeg 440w,
            images/content/2.jpeg 295w
          "
          width="1305"
          height="448"
          sizes="(min-width: 1312px) 1300px, (min-width: 1132px) 1080px,"
        />
        </div>
      </div>
      <div class="col-xxl-9 col-xl-10 col-lg-12 m-auto">
        <div class="row">
          <div class="col-lg-8">
            <div class="article-section__content">
              <div class="o-content">
     
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/XW5pVI7uXd8?si=_u9_FpFRyj93nlln" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
    
    <p>
    „Bohemians plus Dukla rovná se dva body. Jablonec plus Sparta rovná se čtyři. To je prostě fotbalová matematika, která občas nedává smysl,“ smál se Jakub Děkan v úvodu podcastu. „Povedlo se důležité, velké vítězství. Myslím, že se dá nastavit bod nula, pod který se nesmí jít. A tím se dá hráče motivovat do dalších zápasů,“ doplňoval ho Láďa Hampl.
    </p>
    
    <p>
    Oba slovaňáčtí srdcaři se následně vrhli na analýzu samotného duelu i celého týmu a došlo i na téma fanoušků. „Je třeba poděkovat fanouškům, kteří jeli na předměstí i přišli k Nise. Líbí se mi, že ven jdou čísla, která jsou založená na reálném základu. Chtěl bych za to Slovanu Liberec opravdu zatleskat. Pak aspoň člověk ví, jaká krásná atmosféra se dá na stadionu vytvořit, když přijde nějakých 7 500 fanoušků. Sice není úplně vyprodáno, ale pocitově je to vybouchanej barák,“ pochvaloval si Láďa Hampl.
    </p>
    
    <p>Brzy dvojici moderátorů doplnil i očekávaný host. Sportovní ředitel žen a akademie dívek Jiří Liška odpovídal nejprve na několik dotazů, které si pro něho Láďa s Děkysem připravili, a řeč se stočila i k ženskému týmu, který bude hrát v neděli domácí utkání proti <a href=https://www.fcslovanliberec.cz/clanek.asp?id=Fotbalistky-se-v-nedeli-predstavi-v-Doubi-proti-Lokomotive-Brno-16000>Lokomotivě Brno</a>.</p>
    
    <p>
    „Chtěli bychom všechny poprosit, aby v neděli 23. března v 15:30 přišli podpořit ženský tým do Doubí. Je to velice důležitý zápas, mají tam pivo, párek, tribunu. Všechno tam funguje. Doufejme, že se dostaví i supportéři našeho mužského ačka a bude tam pěkný kotel. Šup, šup, všichni! Vezměte si deky, termosky, kdyby byla zima. Holky potřebují podporu, aby se dostaly na třetí flek a zažily předkola evropských pohárů,“ lákal fanoušky Láďa Hampl. „V neděli má být nádherných 13 stupňů,“ doplňoval ho Jakub Děkan. A pohotově reagoval i Jiří Liška: „Ideál, počasí jsme také objednali, takže dobrý.“
    </p>
    
    <p>
    Ve zbytku podcastu, který nakonec trval téměř hodinu a půl, se dostalo i na kariéru Jiřího Lišky, vystoupení Jakuba Děkana pro ženský tým, historky z oslav třetího titulu a mnoho dalších témat. První část upřímné diskuze si můžete pustit výše, druhou naleznete v placené části platformy SLOVAN+.</p>
    
    <p><div  >
                            <iframe src="https://www.slovan.plus/embed/videos/s-slovan-podcast-jiri-liska-0bki1r" allowfullscreen style="border: none; max-width: 100%; height: 100%; width: 100%; position: absolute;"></iframe>
                        </div></p>
                        <p>
                          „Bohemians plus Dukla rovná se dva body. Jablonec plus Sparta rovná se čtyři. To je prostě fotbalová matematika, která občas nedává smysl,“ smál se Jakub Děkan v úvodu podcastu. „Povedlo se důležité, velké vítězství. Myslím, že se dá nastavit bod nula, pod který se nesmí jít. A tím se dá hráče motivovat do dalších zápasů,“ doplňoval ho Láďa Hampl.
                          </p>
                          
                          <p>
                          Oba slovaňáčtí srdcaři se následně vrhli na analýzu samotného duelu i celého týmu a došlo i na téma fanoušků. „Je třeba poděkovat fanouškům, kteří jeli na předměstí i přišli k Nise. Líbí se mi, že ven jdou čísla, která jsou založená na reálném základu. Chtěl bych za to Slovanu Liberec opravdu zatleskat. Pak aspoň člověk ví, jaká krásná atmosféra se dá na stadionu vytvořit, když přijde nějakých 7 500 fanoušků. Sice není úplně vyprodáno, ale pocitově je to vybouchanej barák,“ pochvaloval si Láďa Hampl.
                          </p>
                          
                          <p>Brzy dvojici moderátorů doplnil i očekávaný host. Sportovní ředitel žen a akademie dívek Jiří Liška odpovídal nejprve na několik dotazů, které si pro něho Láďa s Děkysem připravili, a řeč se stočila i k ženskému týmu, který bude hrát v neděli domácí utkání proti <a href=https://www.fcslovanliberec.cz/clanek.asp?id=Fotbalistky-se-v-nedeli-predstavi-v-Doubi-proti-Lokomotive-Brno-16000>Lokomotivě Brno</a>.</p>
                          
                          <p>
                          „Chtěli bychom všechny poprosit, aby v neděli 23. března v 15:30 přišli podpořit ženský tým do Doubí. Je to velice důležitý zápas, mají tam pivo, párek, tribunu. Všechno tam funguje. Doufejme, že se dostaví i supportéři našeho mužského ačka a bude tam pěkný kotel. Šup, šup, všichni! Vezměte si deky, termosky, kdyby byla zima. Holky potřebují podporu, aby se dostaly na třetí flek a zažily předkola evropských pohárů,“ lákal fanoušky Láďa Hampl. „V neděli má být nádherných 13 stupňů,“ doplňoval ho Jakub Děkan. A pohotově reagoval i Jiří Liška: „Ideál, počasí jsme také objednali, takže dobrý.“
                          </p>
                          
                          <p>
                          Ve zbytku podcastu, který nakonec trval téměř hodinu a půl, se dostalo i na kariéru Jiřího Lišky, vystoupení Jakuba Děkana pro ženský tým, historky z oslav třetího titulu a mnoho dalších témat. První část upřímné diskuze si můžete pustit výše, druhou naleznete v placené části platformy SLOVAN+.</p>
    
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {% include "@components/postsSide/postsSide.twig" %}
          </div>
        </div>
         
      </div>
     
    </div>
  </div>
</section>

 