<section class="article-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 col-xl-9 col-lg-10 col-md-11 m-auto">
        <div class="article-section__header">
          <ul class="tags">
            <li class="tags__date">dnes</li>
            <li class="tags__tag">Tomáš Čarnogurský</li>
          </ul>
          <h1 class="h1">
            Udělali jsme velký progres, zhodnotil poslední kola Valenta
          </h1>
          <div class="perex">
            Svěřenci trenéra Luboše Kozla si díky domácímu vítězství 4:0 nad
            Českými Budějovicemi prodloužili sezonu o další dvě utkání. V nich
            se utkají s hradeckými Votroky. První zápas je na programu již tuto
            neděli na stadionu v Mladé Boleslavi. Výkop je naplánován na 15:00.
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="article-section__img">
          <img
            alt=""
            loading="lazy"
            srcset="
              images/content/2.jpeg 855w,
              images/content/2.jpeg 768w,
              images/content/2.jpeg 440w,
              images/content/2.jpeg 295w
            "
            width="1305"
            height="448"
            sizes="(min-width: 1312px) 1300px, (min-width: 1132px) 1080px,"
          />
          <span> © Jaroslav Appeltauer, FC Slovan Liberec </span>
        </div>
      </div>
      <div class="col-xxl-8 col-xl-9 col-lg-10 m-auto">
        <div class="article-section__content">
          <div class="o-content">
            {% include "@components/postsSide/postsSide.twig" %}

            <p>
              Votroci narazili v prvním dvojutkání Skupiny o umístění na Mladou
              Boleslav. Jelikož hradečtí hrají svá utkání v azylu právě ve městě
              automobilů, odehrály se oba zápasy na stejném stadionu. V prvním
              utkání se diváci branky nedočkali. Ve druhém měření sil nejprve
              VAR odvolal v 17. minutě gól mladoboleslavského Kaulfuse pro
              ofsajd, aby se v rozmezí dvou minut (26. a 28.) prosadili „domácí“
              útočníci Koubek s Vašulínem.
              <strong
                >Další branky už v utkání nepadly a Hradec Králové si tak
                zajistil postup do finále.</strong
              >
            </p>
            <p>
              <img src="images/content/2.jpeg" alt="" loading="lazy" />
            </p>
            <p>
              Celek z města pod Bílou věží spoléhal v sezoně na poměrně
              <strong
                >mladé útočné duo Daniel Vašulín (24 let), Filip Kubala (23
                let).</strong
              >
              První jmenovaný je se sedmi přesnými zásahy nejlepším střelcem
              Votroků, Kubala skóroval o jednu branku méně, tedy šestkrát.
              Společně s Vojtěchem Smržem je ale se čtyřmi asistencemi nejlepším
              nahrávačem svého celku. V závěsu je Matěj Ryneš, který přihrál na
              tři branky. Mezi třemi tyčemi se střídají Michal Reichl se
              slovenským kolegou Pavolem Bajzou.
              <strong
                >Reichl zasáhl do 21 zápasů a šestkrát udržel čisté konto. Bajza
                odchytal 12 zápasů a jednou nebyl překonán.
              </strong>
            </p>
            <p>
              Právě nejvytěžovanější brankář Hradce je společně se Štěpánem
              Harazimem a Jakubem Klímou pod hrozbou třetí, resp. sedmé žluté
              karty, která by znamenala stopku pro odvetu pod Ještědem. Trenér
              Stanislav Hejkal, který v závěru sezony nahradil zdravotně
              indisponovaného Miroslava Koubka, nemůže počítat z důvodu zranění
              s
              <strong>Filipem Čihákem a Ondřejem Ševčíkem.</strong> Povede se
              Votrokům i přes tyto absence poprvé bodovat proti našemu celku? My
              samozřejmě doufáme, že nikoliv.
            </p>
            <q>
              V utkání chceme dominovat a nepustit soupeře k míči. Musíme být
              aktivní od úvodní minuty a pokusit se brzy rozhodnout.
            </q>
            <p>
              Celek z města pod Bílou věží spoléhal v sezoně na poměrně
              <strong
                >mladé útočné duo Daniel Vašulín (24 let), Filip Kubala (23
                let).</strong
              >
              První jmenovaný je se sedmi přesnými zásahy nejlepším střelcem
              Votroků, Kubala skóroval o jednu branku méně, tedy šestkrát.
              Společně s Vojtěchem Smržem je ale se čtyřmi asistencemi nejlepším
              nahrávačem svého celku. V závěsu je Matěj Ryneš, který přihrál na
              tři branky. Mezi třemi tyčemi se střídají Michal Reichl se
              slovenským kolegou Pavolem Bajzou.
              <strong
                >Reichl zasáhl do 21 zápasů a šestkrát udržel čisté konto. Bajza
                odchytal 12 zápasů a jednou nebyl překonán.
              </strong>
            </p>
            <p>
              Votroci narazili v prvním dvojutkání Skupiny o umístění na Mladou
              Boleslav. Jelikož hradečtí hrají svá utkání v azylu právě ve městě
              automobilů, odehrály se oba zápasy na stejném stadionu. V prvním
              utkání se diváci branky nedočkali. Ve druhém měření sil nejprve
              VAR odvolal v 17. minutě gól mladoboleslavského Kaulfuse pro
              ofsajd, aby se v rozmezí dvou minut (26. a 28.) prosadili „domácí“
              útočníci Koubek s Vašulínem.
              <strong
                >Další branky už v utkání nepadly a Hradec Králové si tak
                zajistil postup do finále.</strong
              >
            </p>
            <p>
              Celek z města pod Bílou věží spoléhal v sezoně na poměrně
              <strong
                >mladé útočné duo Daniel Vašulín (24 let), Filip Kubala (23
                let).</strong
              >
              První jmenovaný je se sedmi přesnými zásahy nejlepším střelcem
              Votroků, Kubala skóroval o jednu branku méně, tedy šestkrát.
              Společně s Vojtěchem Smržem je ale se čtyřmi asistencemi nejlepším
              nahrávačem svého celku. V závěsu je Matěj Ryneš, který přihrál na
              tři branky. Mezi třemi tyčemi se střídají Michal Reichl se
              slovenským kolegou Pavolem Bajzou.
              <strong
                >Reichl zasáhl do 21 zápasů a šestkrát udržel čisté konto. Bajza
                odchytal 12 zápasů a jednou nebyl překonán.
              </strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xxl-9 col-xl-10 m-auto">
        {% include "@components/photogallery/photogallery.twig" %}
      </div>
    </div>
  </div>
</section>
