<section class="team-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Soupiska A-tým</h1>
          <div class="section-header__menu mb-4">
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select">
                <option>2023/24</option>
                <option value="tipsport">2022/23</option>
                <option value="tipsport">2021/22</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </div>
          </div>
          <ul class="section-header__links">
            <li>
              <a href="#" class="">Brankáři</a>
            </li>
            <li>
              <a href="#">Obránci</a>
            </li>
            <li>
              <a href="#">Záložníci</a>
            </li>
            <li>
              <a href="#">Útočníci</a>
            </li>
          </ul>
        </div>
        <div class="team-section__content">
          <div class="team-section__img">
            <img src=" images/content/1.jpeg" loading="lazy" alt="" />
          </div>
          <h2 class="h2 mb-4">Brankáři</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
          </div>
          <h2 class="h2 mb-4">Obránci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
          </div>
          <h2 class="h2 mb-4">Záložníci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
          </div>
          <h2 class="h2 mb-4">Útočníci</h2>
          <div class="row g-5">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a href="#" class="team-section__item">
                <div class="team-section__item-img">
                  <img src=" images/content/min.jpeg" loading="lazy" alt="" />
                </div>
                <div class="team-section__item-info">
                  <div class="team-section__item-number">#31</div>
                  <div class="team-section__item-title">
                    <span> Hugo Jan </span>
                    Bačkovský
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pubs mt-16">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
