.postsSide {
  position: relative;
  float: right;
  top: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid var(--color-blue-2);
  border-bottom: 1px solid var(--color-blue-2);

  @include media-breakpoint-down(lg) {
    float: none;
    max-width: 100%;
    order: 3;
  }
  .tags {
    margin: 0;
  }
  .tags__tag,
  .tags__date {
    padding-left: 4px;
  }
  .tags__tag::before,
  .tags__date::before {
    display: none;
  }
  .hp-posts__item {
    margin-bottom: 24px;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
