<aside class="aside">
  <div class="aside-box">
    <h2 class="h4 mb-1">Klub</h2>
    <ul class="aside__menu">
      <li>
        <a class="active" href="#">Základní informace</a>
      </li>
      <li>
        <a href="#">Vedení</a>
      </li>
      <li>
        <a href="#">Historie</a>
      </li>
      <li>
        <a href="#">Kontakty</a>
      </li>
      <li>
        <a href="#">Dvorana slávy</a>
      </li>
    </ul>
  </div>
  <a href="#" target="_blank" class="aside-pub mb-10 d-block">
    <img src="https://via.placeholder.com/408/270" loading="lazy" alt="" />
  </a>
  {% include "@components/socialNews/socialNews.twig" %}
</aside>
