.main {
  background-color: var(--color-gray);

  padding-left: 7rem;
  padding-top: 4rem;
  // padding-bottom: 100px;
  @include media-breakpoint-down(xl) {
    padding-left: 0;
    padding-top: 4rem;
  }
}
