.partners-section {
  .footer-partners {
    display: none;
  }
  .h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  &__item {
    width: 100%;
    aspect-ratio: 300/180;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light);
    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}
