<section class="partners-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Partneři</h1>
        </div>
        <ul class="section-header__links">
          <li>
            <a href="#general" class="">GENERÁLNÍ PARTNER</a>
          </li>
          <li>
            <a href="#premium">PRÉMIOVÝ PARTNER</a>
          </li>
          <li>
            <a href="#hlavni">HLAVNÍ PARTNEŘI</a>
          </li>
          <li>
            <a href="#ligovi">LIGOVÍ PARTNEŘI</a>
          </li>
          <li>
            <a href="#mezinarod">MEZINÁRODNÍ PARTNEŘI</a>
          </li>
        </ul>
        <div class="partners-section__inner">
          <h2 id="general" class="h2 mb-4">GENERÁLNÍ PARTNER</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-4 col-md-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-4 col-md-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2 id="premium" class="h2 mb-4">PRÉMIOVÝ PARTNER</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-5.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2 id="hlavni" class="h2 mb-4">HLAVNÍ PARTNEŘI</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-5.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2 id="ligovi" class="h2 mb-4">LIGOVÍ PARTNEŘI</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-5.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2 id="mezinarod" class="h2 mb-4">MEZINÁRODNÍ ORGANIZACE</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-5.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <a href="#" class="partners-section__item">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pubs">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
