.table-section {
  margin-bottom: 80px;
  table {
    @include media-breakpoint-down(md) {
      width: max-content;
    }
  }

  th {
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 2px solid var(--color-light);

    a {
      text-decoration: underline;
      font-size: 18px;
    }
  }

  .liberec td {
    color: var(--color-blue);
    font-weight: 600;
  }

  td {
    border-left: none !important;
  }

  th,
  td {
    width: 30px;
  }

  th:first-child,
  td:first-child {
    width: 40px;
    text-align: center !important;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: max-content !important;
    max-width: 100%;
  }
  &__inner {
    margin-top: 20px;
  }
}
