<section class="table-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Tabulka</h1>
          <div class="section-header__menu mb-4">
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select">
                <option>2023/24</option>
                <option value="tipsport">2022/23</option>
                <option value="tipsport">2021/22</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </div>
          </div>
        </div>
        <div class="table-section__inner">
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th><a href="#">P.</a></th>
                  <th><a href="#">Tým</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">V</a></th>
                  <th><a href="#">R</a></th>
                  <th><a href="#">P</a></th>
                  <th><a href="#">B</a></th>
                  <th><a href="#">Skóre</a></th>
                  <th><a href="#">RG</a></th>
                  <th><a href="#">+/-</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr class="liberec">
                  <td>2.</td>
                  <td>FC Slovan Liberec</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td>1.</td>
                  <td>FC Zbrojovka Brno</td>
                  <td>27</td>
                  <td>13</td>
                  <td>18</td>
                  <td>20</td>
                  <td>13</td>
                  <td>56:24</td>
                  <td>32</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
