<section class="archive-section mt-16 pb-10">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Krátké zprávy</h1>
          <div class="section-header__menu mb-4">
            <form class="section-header__form">
              <div class="section-header__search">
                <input placeholder="Napište hledaný text…" type="text" />
                <button>{% include "@images/search.svg" %}</button>
              </div>
            </form>
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select">
                <option>2023/24</option>
                <option value="tipsport">2022/23</option>
                <option value="tipsport">2021/22</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </div>
          </div>
        </div>
        <div class="  ">
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
              animi facere sint dolor eius quae autem at sit ullam cum molestias
              commodi labore vel non, laborum laboriosam a! Iure, optio. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia animi
              facere sint dolor eius quae autem at sit ullam cum molestias
              commodi labore vel non, laborum laboriosam a! Iure, optio.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde. Všichni držitelé permanentních
              vstupenek na letošní sezónu mohou v našem e-shopu získat 20% slevu
              na dosud nezlevněné produkty ze sortimentu Nike. Více zde. Všichni
              držitelé permanentních vstupenek na letošní sezónu mohou v našem
              e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
              animi facere sint dolor eius quae autem at sit ullam cum molestias
              commodi labore vel non, laborum laboriosam a! Iure, optio. Lorem
              ipsum dolor sit amet, consectetur adipisicing elit. Quia animi
              facere sint dolor eius quae autem at sit ullam cum molestias
              commodi labore vel non, laborum laboriosam a! Iure, optio.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
          <div class="socialNews__item">
            <div class="socialNews__date">17. 4. 2023</div>
            <h2 class="h3 mb-3">Sleva pro permanentkáře</h2>
            <p>
              Všichni držitelé permanentních vstupenek na letošní sezónu mohou v
              našem e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde. Všichni držitelé permanentních
              vstupenek na letošní sezónu mohou v našem e-shopu získat 20% slevu
              na dosud nezlevněné produkty ze sortimentu Nike. Více zde. Všichni
              držitelé permanentních vstupenek na letošní sezónu mohou v našem
              e-shopu získat 20% slevu na dosud nezlevněné produkty ze
              sortimentu Nike. Více zde.
            </p>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul class="pagination d-flex pagination-flat pagination-success">
            <li class="page-item active">
              <a class="page-link"> 1 </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">6</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">
                {% include "@images/arrow-right.svg" %}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <div class="pubs mt-16">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="https://via.placeholder.com/632x150" alt="" />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img src="https://via.placeholder.com/632x150" alt="" />
          </a>
        </div>
      </div>
    </div> -->
  </div>
</section>
