<section class="archive-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Archiv článků</h1>
          <div class="section-header__menu mb-4">
            <form class="section-header__form">
              <div class="section-header__search">
                <input placeholder="Napište hledaný text…" type="text" />
                <button>{% include "@images/search.svg" %}</button>
              </div>
            </form>
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select">
                <option>2023/24</option>
                <option value="tipsport">2022/23</option>
                <option value="tipsport">2021/22</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </div>
          </div>
          <ul class="section-header__links">
            <li>
              <a href="#" class="">Všechny kategorie</a>
            </li>
            <li>
              <a href="#" class="active">A-tým</a>
            </li>
            <li>
              <a href="#">B-tým</a>
            </li>
            <li>
              <a href="#">Ženy</a>
            </li>
            <li>
              <a href="#">Mládež</a>
            </li>
            <li>
              <a href="#">Klub</a>
            </li>
          </ul>
        </div>
        <div class="gallery-section__content row g-5">
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
          <div class="col-xxl-3 col-xl-4 col-md-6">
            <a href="#" class="hp-posts__item">
              <div class="hp-posts__img">
                <img src="images/content/4.jpeg" alt=""  />
              </div>
              <div class="hp-posts__info">
                <ul class="tags">
                  <li class="tags__date">včera</li>
                </ul>
                <div class="hp-posts__title">
                  Udělali jsme velký progres, zhodnotil poslední kola Valenta
                </div>
              </div>
            </a>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link"> 1 </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">
                {% include "@images/arrow-right.svg" %}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="pubs mt-16">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
