<div class="photogallery">
  <h3 class="h4 mb-3">Fotogalerie</h3>
  <div class="row g-4">
    <div class="col-lg-3 col-6">
      <a
        href="#"
        data-gallery="1"
        data-gallery-id="1"
        class="photogallery__item"
      >
        <img src="images/content/1.jpeg" alt="" loading="lazy" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        href="#"
        data-gallery="2"
        data-gallery-id="1"
        class="photogallery__item"
      >
        <img src="images/content/2.jpeg" alt="" loading="lazy" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        href="#"
        data-gallery="3"
        data-gallery-id="1"
        class="photogallery__item"
      >
        <img src="images/content/3.jpeg" alt="" loading="lazy" />
      </a>
    </div>
    <div class="col-lg-3 col-6">
      <a
        href="#"
        data-gallery="4"
        data-gallery-id="1"
        class="photogallery__item"
      >
        <img src="images/content/4.jpeg" alt="" loading="lazy" />
        <div class="photogallery__number">
          <span>+14</span>
          dalších fotek
        </div>
      </a>
    </div>
  </div>
</div>
