<section class="macthes-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">FORTUNA:LIGA 2023/2024</h1>
          <div class="section-header__menu mb-4">
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select">
                <option>2023/24</option>
                <option value="tipsport">2022/23</option>
                <option value="tipsport">2021/22</option>
                <option value="tipsport">2020/21</option>
                <option value="tipsport">2019/20</option>
                <option value="tipsport">2018/19</option>
                <option value="tipsport">2017/18</option>
              </select>
            </div>
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr měsíc:</div>
              <select class="js-select">
                <option value="tipsport">Leden</option>
                <option value="tipsport">Únor</option>
                <option value="tipsport">Květen</option>
              </select>
            </div>
          </div>
          <ul class="section-header__links">
            <li>
              <a href="#" class="">Doma</a>
            </li>
            <li>
              <a href="#">Venku</a>
            </li>
            <li>
              <a href="#">Budoucí</a>
            </li>
            <li>
              <a href="#">Odehrané</a>
            </li>
          </ul>
        </div>
        <div class="c-matches-section__inner">
          <div class="o-content">
            <h2 class="h2">Únor 2022</h2>
          </div>
          <div class="c-matches-section__box col-12 d-flex">
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">d</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result">3:3</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">D</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result win">3:1</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">v</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result lose">2:4</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">v</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result">3:3</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
          </div>
          <div class="o-content">
            <h2>Únor 2022</h2>
          </div>
          <div class="c-matches-section__box col-12 d-flex">
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">d</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result">3:3</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">V</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result win">3:1</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">d</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result lose">2:4</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">v</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result">3:3</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
          </div>
          <div class="o-content">
            <h2>Únor 2022</h2>
          </div>
          <div class="c-matches-section__box col-12 d-flex">
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">d</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result">3:3</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">V</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result win">3:1</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--d d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">d</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__result lose">2:4</div>
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Reportáž </a>
                  <a href="#" target="_blank" class="link"> On-line </a>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 col-xl-12 match match--v d-flex align-items-center"
            >
              <div class="match__type">
                <h3 class="h3">v</h3>
              </div>
              <div class="match__date">
                <p class="p3">1. kolo</p>
                <p class="p3">
                  <strong>so 24. 7. 2021, 18:00</strong>
                </p>
              </div>
              <div class="match__logos">
                <div class="match__logo">
                  <img src="images/ico/logo.svg" loading="lazy" alt="" />
                </div>
                <div class="match__logo">
                  <img src="images/ico/sparta.svg" loading="lazy" alt="" />
                </div>
              </div>
              <div class="match__team">
                <h3 class="h3">FC Sellier&Bellot Vlašim</h3>
                <p class="p3">Městský stadion, Opava</p>
              </div>
              <div class="match__info">
                <div class="match__links">
                  <a href="#" target="_blank" class="link"> Vstupenky </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
