<section class="scoreboard">
  <div class="scoreboard-games">
    <div class="scoreboard__name">
      <h4 class="h4">Aktuální zápasy</h4>
      <a href="#"> Všechny zápasy</a>
    </div>
    <div class="scoreboard__list">
      <div class="scoreboard__item">
        <a href="#" class="scoreboard__game">
          <div class="scoreboard__info">
            <div class="scoreboard__team">
              <span>LIB</span>
              <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <div class="scoreboard__result">1:2</div>
            <div class="scoreboard__team">
              <img src="images/ico/sparta.svg" loading="lazy" alt="" />
              <span>SPA</span>
            </div>
          </div>
          <div class="scoreboard__date">ne 30. 4. 2023, 15:00</div>
        </a>
      </div>
      <div class="scoreboard__item">
        <a href="#" class="scoreboard__game">
          <div class="scoreboard__info">
            <div class="scoreboard__team">
              <span>LIB</span>
              <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <div class="scoreboard__result">1:2</div>
            <div class="scoreboard__team">
              <img src="images/ico/sparta.svg" loading="lazy" alt="" />
              <span>SPA</span>
            </div>
          </div>
          <div class="scoreboard__date">ne 30. 4. 2023, 15:00</div>
        </a>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__game">
          <div class="scoreboard__info">
            <div class="scoreboard__team">
              <span>LIB</span>
              <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <div class="scoreboard__result">x</div>
            <div class="scoreboard__team">
              <img src="images/ico/sparta.svg" loading="lazy" alt="" />
              <span>SPA</span>
            </div>
          </div>
          <div class="scoreboard__date">ne 30. 4. 2023, 15:00</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__game">
          <div class="scoreboard__info">
            <div class="scoreboard__team">
              <span>LIB</span>
              <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <div class="scoreboard__result">x</div>
            <div class="scoreboard__team">
              <img src="images/ico/sparta.svg" loading="lazy" alt="" />
              <span>SPA</span>
            </div>
          </div>
          <div class="scoreboard__date">ne 30. 4. 2023, 15:00</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__game">
          <div class="scoreboard__info">
            <div class="scoreboard__team">
              <span>LIB</span>
              <img src="images/ico/logo.svg" loading="lazy" alt="" />
            </div>
            <div class="scoreboard__result">x</div>
            <div class="scoreboard__team">
              <img src="images/ico/sparta.svg" loading="lazy" alt="" />
              <span>SPA</span>
            </div>
          </div>
          <div class="scoreboard__date">ne 30. 4. 2023, 15:00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="scoreboard-table">
    <div class="scoreboard__name">
      <a href="#"> Kompletní tabulka</a>
    </div>
    <div class="scoreboard__list">
      <div class="scoreboard__item">
        <div class="scoreboard-table__item">
          <div class="scoreboard-table__num">2.</div>
          <div class="scoreboard-table__team">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            LIB
          </div>
          <div class="scoreboard-table__game">10 z.</div>
          <div class="scoreboard-table__score">24 b.</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard-table__item">
          <div class="scoreboard-table__num">2.</div>
          <div class="scoreboard-table__team">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            LIB
          </div>
          <div class="scoreboard-table__game">10 z.</div>
          <div class="scoreboard-table__score">24 b.</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard-table__item">
          <div class="scoreboard-table__num">2.</div>
          <div class="scoreboard-table__team">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            LIB
          </div>
          <div class="scoreboard-table__game">10 z.</div>
          <div class="scoreboard-table__score">24 b.</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard-table__item">
          <div class="scoreboard-table__num">2.</div>
          <div class="scoreboard-table__team">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            LIB
          </div>
          <div class="scoreboard-table__game">10 z.</div>
          <div class="scoreboard-table__score">24 b.</div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard-table__item">
          <div class="scoreboard-table__num">2.</div>
          <div class="scoreboard-table__team">
            <img src="images/ico/logo.svg" loading="lazy" alt="" />
            LIB
          </div>
          <div class="scoreboard-table__game">10 z.</div>
          <div class="scoreboard-table__score">24 b.</div>
        </div>
      </div>
    </div>
  </div>
</section>
