<div class="sidebar">
  <ul class="sidebar__list">
    <li>
      <a href="#">
        {% include "@images/shirt.svg" %}
        <span>fanshop</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include "@images/ticket.svg" %}
        <span>vstupenky</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include "@images/mobile.svg" %}
        <span>aplikace</span>
      </a>
    </li>
    <!-- <li>
      <a href="#">
        {% include "@images/children.svg" %}
        <span>dětí</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include "@images/woman.svg" %}
        <span>ženy</span>
      </a>
    </li> -->
  </ul>
</div>
