<div class="sidebar">
  <ul class="sidebar__list">
    <li>
      <a href="#">
        {% include "@images/home.svg" %}
        <span>Domů</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include "@images/shirt.svg" %}
        <span>fanshop</span>
      </a>
    </li>
    <li>
      <a href="#">
        {% include "@images/ticket.svg" %}
        <span>vstupenky</span>
      </a>
    </li>
  </ul>
</div>
