.footer-partners {
  background-color: var(--color-light);
  position: relative;
  border-bottom-left-radius: 50% 9%;
  border-bottom-right-radius: 50% 9%;
  z-index: 9999;
  margin-top: -60px;
  padding-top: 140px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.046793);
  @include media-breakpoint-down(xl) {
    margin-top: 0;
    border-radius: 0;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .h4 {
    margin-bottom: 16px;
  }
  &__main {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
    }
  }
  &__item {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: auto;
    }
  }
  &__list {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    flex-wrap: wrap;
    li {
      padding: 0 12px;
      margin-bottom: 24px;
    }
  }
}
.footer {
  background-color: var(--color-blue);
  padding-bottom: 32px;
  position: relative;
  padding-top: 100px;
  margin-top: -60px;
  @include media-breakpoint-down(xl) {
    margin-top: 0;
    padding-top: 60px;
  }
  &__logo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 9999;

    width: 80px;
    height: 80px;
    transition: all 0.3s;
    margin: 0 auto;
    @include media-breakpoint-down(xl) {
      top: -40px;
    }
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .copyright {
    color: rgba(1, 174, 226, 1);
    font-size: 18px;
    font-weight: 700;
    @include media-breakpoint-down(lg) {
      text-align: center;
      margin-bottom: 8px;
    }
  }
  &-team {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: var(--color-light);
    @include media-breakpoint-down(lg) {
      text-align: center;
      margin-bottom: 24px;
    }
  }
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include media-breakpoint-down(lg) {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .cookies {
    color: var(--color-blue-2);
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    line-height: 24px;
    text-decoration: underline;
    margin-right: 28px;
    margin-bottom: 4px;
    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-top: 16px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;

    li {
      padding: 0 4px;
    }
    a {
      display: block;
      width: 24px;
      height: 24px;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.footer-wrapper {
  flex: 0 0 auto;
  position: relative;
  z-index: 9999;
}
