<section class="topstory">
  <div class="container-fluid">
    <div class="topstory__inner">
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img
            srcset="images/content/1.jpeg 855w, images/content/1.jpeg 720w"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
            width="575"
            height="448"
            alt=""
          />
          <img
            srcset="images/content/2.jpeg 855w, images/content/2.jpeg 720w"
            width="575"
            height="448"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
            alt=""
          />
        </div>
        <div class="topstory__info">
          <div class="topstory__title">
            Udělali jsme velký progres, zhodnotil poslední kola Valenta
          </div>
          <ul class="tags">
            <li class="tags__date">dnes</li>
            <li class="tags__tag">Tomáš Čarnogurský</li>
          </ul>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img
            alt=""
            srcset="images/content/2.jpeg 855w, images/content/2.jpeg 720w"
            width="575"
            height="448"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
          />
          <img
            srcset="
              images/content/5.jpeg 1,
              images/content/5.jpeg 720w,
          
            "
            width="575"
            height="448"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
            alt=""
          />
        </div>
        <div class="topstory__info">
          <div class="topstory__title">
            Sparta v dlouhém nastavení otočila zápas ve svůj prospěch. Slovan
            prohrál 1:3
          </div>
          <ul class="tags">
            <li class="tags__date">včera</li>
            <li class="tags__tag">Tomáš Čarnogurský</li>
          </ul>
        </div>
      </a>
      <a href="#" class="topstory__item">
        <div class="topstory__img">
          <img
            srcset="
              images/content/3.jpeg 855w,
              images/content/3.jpeg 768w,
              images/content/3.jpeg 440w,
              images/content/3.jpeg 295w
            "
            width="575"
            height="448"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
            alt=""
          />
          <img
            srcset="
              images/content/6.jpeg 855w,
              images/content/6.jpeg 768w,
              images/content/6.jpeg 440w,
              images/content/6.jpeg 295w
            "
            width="575"
            height="448"
            sizes="(min-width: 1312px) 575px, (min-width: 1132px) 320px,"
            alt=""
          />
        </div>
        <div class="topstory__info">
          <div class="topstory__title">
            Slovan zakončí základní část ligy domácím zápasem proti Spartě
          </div>
          <ul class="tags">
            <li class="tags__date">před 3 dny</li>
            <li class="tags__tag">Tomáš Čarnogurský</li>
          </ul>
        </div>
      </a>
    </div>
    <a href="#" class="link ml-auto mt-4">Další články</a>
  </div>
</section>
