@font-face {
  font-family: "KometPro";
  font-display: swap;
  src: url("../fonts/KometPro-Heavy.woff2") format("woff2");
  src: url("../fonts/KometPro-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "KometPro";
  font-display: swap;
  src: url("../fonts/KometPro-Light.woff2") format("woff2");
  src: url("../fonts/KometPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
