<section class="stats-players mt-16">
  <div class="container">
    <h1 class="mb-4 h1">Top statistiky</h1>
    <ul class="section-header__links section-header__links--navigation">
      <li>
        <a href="#" class="active">Top statistiky</a>
      </li>
      <li>
        <a href="# ">Kompletní statistiky </a>
      </li>
    </ul>
    <ul class="section-header__links">
      <li>
        <a href="#" class="active">Hráčské </a>
      </li>
      <li>
        <a href="#" class=" ">Týmové</a>
      </li>
      <li>
        <a href="#">Historické</a>
      </li>
    </ul>
    <div class="stats-players__inner">
      <div class="stats-player-box">
        <div class="stats-title">Góly</div>
        <div class="stats-photo">
          <img
            src="https://php.esports.cz/images/min.php?exact&w=80&h=80&topcut&file=https://www.fcslovanliberec.cz/foto/hraci/2022/visinsky_denis.jpg&mtime=1643641553"
            alt="Denis Višinský #0"
            class="player-photo"
            width="80"
            height="80"
          />
        </div>
        <a
          href="/hrac.asp?id=Denis-Visinsky-2016"
          title="Denis Višinský"
          class="stats-name"
        >
          Denis <span>Višinský</span>
        </a>
        <div class="stats-number">9 <span>12. v lize</span></div>
        <div class="stats-more">
          <div class="stats-more-title">
            Střely<br />
            na branku
          </div>
          <div class="stats-more-number">36</div>
        </div>
      </div>
      <div class="stats-player-box">
        <div class="stats-title">Asistence</div>
        <div class="stats-photo">
          <img
            src="https://php.esports.cz/images/min.php?exact&w=80&h=80&topcut&file=https://www.fcslovanliberec.cz/foto/hraci/2025/ghali_ahmad.jpg&mtime=1721844101"
            alt="Ahmad Ghali #25"
            class="player-photo"
            width="80"
            height="80"
          />
        </div>
        <a
          href="/hrac.asp?id=Ahmad-Ghali-2015"
          title="Ahmad Ghali"
          class="stats-name"
        >
          Ahmad <span>Ghali</span>
        </a>
        <div class="stats-number">6 <span>0. v lize</span></div>
        <div class="stats-more">
          <div class="stats-more-title">
            Chance<br />
            index
          </div>
          <div class="stats-more-number">0</div>
        </div>
      </div>
      <div class="stats-player-box">
        <div class="stats-title">Přihrávky</div>
        <div class="stats-photo">
          <img
            src="https://php.esports.cz/images/min.php?exact&w=80&h=80&topcut&file=https://www.fcslovanliberec.cz/foto/hraci/2025/hlavaty_michal.jpg&mtime=1721844101"
            alt="Michal Hlavatý #9"
            class="player-photo"
            width="80"
            height="80"
          />
        </div>
        <a
          href="/hrac.asp?id=Michal-Hlavaty-2286"
          title="Michal Hlavatý"
          class="stats-name"
        >
          Michal <span>Hlavatý</span>
        </a>
        <div class="stats-number">947 <span>0. v lize</span></div>
        <div class="stats-more">
          <div class="stats-more-title">
            Úspěšnost<br />
            přihrávek
          </div>
          <div class="stats-more-number">76 %</div>
        </div>
      </div>
      <div class="stats-player-box">
        <div class="stats-title">Vyhrané souboje</div>
        <div class="stats-photo">
          <img
            src="https://php.esports.cz/images/min.php?exact&w=80&h=80&topcut&file=https://www.fcslovanliberec.cz/foto/hraci/2025/visinsky_denis.jpg&mtime=1721844097"
            alt="Denis Višinský #0"
            class="player-photo"
            width="80"
            height="80"
          />
        </div>
        <a
          href="/hrac.asp?id=Denis-Visinsky-2016"
          title="Denis Višinský"
          class="stats-name"
        >
          Denis <span>Višinský</span>
        </a>
        <div class="stats-number">266 <span>36. v lize</span></div>
        <div class="stats-more">
          <div class="stats-more-title">
            Úspěšnost<br />
            soubojů
          </div>
          <div class="stats-more-number">41 %</div>
        </div>
      </div>
      <div class="stats-player-box">
        <div class="stats-title">Čistá konta</div>
        <div class="stats-photo">
          <img
            src="https://php.esports.cz/images/min.php?exact&w=80&h=80&topcut&file=https://www.fcslovanliberec.cz/foto/hraci/2025/backovsky_hugo_jan.jpg&mtime=1721844102"
            alt="Hugo Jan Bačkovský #31"
            class="player-photo"
            width="80"
            height="80"
          />
        </div>
        <a
          href="/hrac.asp?id=Hugo Jan-Backovsky-2152"
          title="Hugo Jan Bačkovský"
          class="stats-name"
        >
          Hugo Jan <span>Bačkovský</span>
        </a>
        <div class="stats-number">5 <span>0. v lize</span></div>
        <div class="stats-more">
          <div class="stats-more-title">
            Úspěšnost<br />
            zákroků
          </div>
          <div class="stats-more-number">73 %</div>
        </div>
      </div>
    </div>

    <h2 class="h3 mb-3 mt-5">Další hráče</h2>
    <div class="row g-5">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/defaultplayer.png" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-2.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-3.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-1.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/defaultplayer.png" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-2.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-3.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <a class="team-section__item" href="#">
          <div class="team-section__ava">
            <img src="images/content/player-1.jpeg" loading="lazy" alt="" />
          </div>
          <div
            class="team-section__info d-flex justify-content-between align-items-end"
          >
            <h2 class="h2">
              <span>Lukáš</span>
              Hasalík
            </h2>
            <div class="team-section__number">29</div>
          </div>
          <div class="team-section__hover">
            <ul class="d-flex justify-content-center align-items-center">
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/football.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/clock.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
              <li class="d-flex">
                <div class="team-section__hover-img">
                  <img src="images/ico/ball.svg" loading="lazy" alt="" />
                </div>
                16
              </li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
