.stats-players {
  margin-bottom: 4rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 2.5rem;
  }
}
.stats-players__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 4rem;
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 2.5rem;
  }
}

.stats-player-box {
  border-radius: 4px;
  border: 1px solid #63a1ff;
  background-color: var(--color-light);
  padding: 16px;
}

.stats-title {
  color: var(--color-blue);
  font-family: "KometPro" !important;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.stats-photo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 16px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stats-name {
  color: #161616;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration-color: transparent;
  transition: all 0.2s;
  margin-bottom: 20px;
  &:hover {
    text-decoration-color: inherit;
  }
  span {
    font-size: 24px;
    line-height: 125%;
    display: block;
  }
}

.stats-number {
  color: var(--color-blue-2);
  font-size: 54px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.stats-players .stats-player-box .stats-number span {
  color: #8c96a1;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  display: block;
}
.stats-players .stats-player-box .stats-more {
  display: table;
  width: 100%;
  text-align: left;
  border-top: 1px solid #e9e9e9;
  padding-top: 15px;
}
.stats-players .stats-player-box .stats-more .stats-more-title {
  display: table-cell;
  vertical-align: middle;
  color: #161616;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 25px;
}
.stats-players .stats-player-box .stats-more .stats-more-number {
  display: table-cell;
  vertical-align: middle;
  color: #1a1b20;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: right;
  text-transform: uppercase;
}

//  mdaskldfmlsamdls
.stats-players .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
  }
}
.stats .stat-box,
.stats-players .stats-player-box {
  background-color: var(--color-light);
  border: 1px solid #efefef;
}
.player-stats-box .player-stat-box {
  display: table-cell;
  color: #1184cc;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  font-family: refrigerator-deluxe, sans-serif;
}
@media (max-width: 660px) {
  .player-stats-box .player-stat-box {
    display: block;
  }
}
@media (max-width: 420px) {
  .player-stats-box .player-stat-box {
    width: 100%;
  }
}
.player-stats-box .player-stat-box span {
  display: block;
  color: #1b2026;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 115px;
}
.stats {
  margin: 0 -10px;
}
.stats:after {
  display: table;
  clear: both;
}
.stats .stat-box {
  display: table;
  padding: 25px;
  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.stats .stat-box .box-1,
.stats .stat-box .stat-title {
  color: #1184cc;
  display: table-cell;
  text-transform: uppercase;
  vertical-align: middle;
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.stats .stat-box .stat-title {
  font-size: 18px;
  font-weight: 800;
  width: 100px;
  font-family: "KometPro" !important;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
.stats .stat-box .box-1 {
  font-size: 40px;
  font-weight: 700;
  padding-left: 20px;
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .stats .stat-box .box-1 {
    padding-left: 0;
  }
}
.stats .stat-box .box-1 span {
  display: block;
  color: var(--color-blue-2);
  font-size: 14px;
  font-weight: 400;
  @include media-breakpoint-down(md) {
    margin: 0;
  }
}
.stats .stat-box .box-2,
.stats .stat-box .box-3 {
  display: table-cell;
  vertical-align: middle;
  color: #1a1b20;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  @include media-breakpoint-down(md) {
    padding: 0;
  }
}
.stats .stat-box .box-2 span,
.stats .stat-box .box-3 span {
  color: #161616;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.more-button-stats {
  text-align: center;
  margin-top: 25px;
}
