{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %}

<section class="static-section mt-16">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <div class="o-content">
          <h1>Základní informace</h1>

          <p>
            Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.
            Maecenas lorem. Vivamus luctus egestas leo. Nullam faucibus mi quis
            velit.
            <strong
              >Mauris dolor felis, sagittis at, luctus sed, aliquam non,
              tellus.</strong
            >
            Etiam dui sem, fermentum vitae, sagittis id, malesuada in, quam.
            Nulla est. Nunc tincidunt ante vitae massa. Donec iaculis gravida
            nulla. Fusce wisi. Nam sed tellus id magna elementum tincidunt.
          </p>
          <h2>Title h2</h2>
          <h3>Title h3</h3>
          <h4>Title h4</h4>
          <h5>Title h5</h5>
          <h6>Title h6</h6>
          <img
            style="margin: 32px auto"
            src="images/content/1.jpeg"
            alt=""
            loading="lazy"
          />
          <p>
            Mauris tincidunt sem sed arcu. In laoreet, magna id viverra
            tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed
            libero. Cras pede libero, dapibus nec, pretium sit amet, tempor
            quis. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum. Aliquam erat
            volutpat. Vivamus porttitor turpis ac leo. Aenean id metus id velit
            <strong> ullamcorper pulvinar.</strong> Vivamus porttitor turpis ac
            leo.
          </p>
          <q>
            V utkání chceme dominovat a nepustit soupeře k míči. Musíme být
            aktivní od úvodní minuty a pokusit se brzy rozhodnout.
          </q>
          <p>
            Morbi scelerisque luctus velit. Nullam feugiat, turpis at pulvinar
            vulputate, erat libero tristique tellus, nec bibendum odio risus sit
            amet ante. Pellentesque sapien. Nulla turpis magna, cursus sit amet,
            suscipit a, interdum id, felis. Etiam egestas wisi a erat. Nam sed
            tellus id magna elementum tincidunt. Praesent dapibus. Duis viverra
            diam non justo. Quisque porta. Nulla non arcu lacinia neque faucibus
            fringilla. Sed convallis magna eu sem. Nunc tincidunt ante vitae
            massa. Maecenas lorem. Fusce dui leo, imperdiet in, aliquam sit
            amet, feugiat eu, orci. Pellentesque sapien.
          </p>
          <ul>
            <li>
              <a href="#">Základní informace</a>
            </li>
            <li>
              <a href="#">Historie klubu</a>
            </li>
            <li>Vedení</li>
            <li>
              <a href="#">Kontakty</a>
            </li>
          </ul>

          <p>
            In enim a arcu imperdiet malesuada.
            <strong> Nulla pulvinar eleifend sem.</strong> Fusce suscipit libero
            eget elit. Nullam justo enim, consectetuer nec, ullamcorper ac,
            vestibulum in, elit. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            <a href="#">Nulla pulvinar eleifend sem.</a> Proin in tellus sit
            amet nibh dignissim sagittis. In convallis. Pellentesque pretium
            lectus id turpis. In dapibus augue non sapien. Proin mattis lacinia
            justo.
          </p>
          <p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/OQADxYqKIH8?si=pzoM0F125pu4wot-"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </p>
          <p>
            Maecenas libero. Nullam justo enim, consectetuer nec, ullamcorper
            ac, vestibulum in, elit. Sed vel lectus. Donec odio tempus molestie,
            porttitor ut, iaculis quis, sem. Nullam at arcu a est sollicitudin
            euismod. Aliquam in lorem sit amet leo accumsan lacinia. Etiam
            bibendum elit eget erat. Maecenas libero. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <table>
            <thead>
              <tr>
                <th>Jméno a příjmení</th>
                <th>Pozice</th>
                <th>Národnost</th>
                <th>Předešlé kluby</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jan Franěk</td>
                <td>brankář</td>
                <td>česká</td>
                <td>Slezský FC Opava, FC Sellier & Bellot Vlašim</td>
              </tr>
              <tr>
                <td>Jan Franěk</td>
                <td>brankář</td>
                <td>česká</td>
                <td>Slezský FC Opava, FC Sellier & Bellot Vlašim</td>
              </tr>
              <tr>
                <td>Jan Franěk</td>
                <td>brankář</td>
                <td>česká</td>
                <td>Slezský FC Opava, FC Sellier & Bellot Vlašim</td>
              </tr>
              <tr>
                <td>Jan Franěk</td>
                <td>brankář</td>
                <td>česká</td>
                <td>Slezský FC Opava, FC Sellier & Bellot Vlašim</td>
              </tr>
              <tr>
                <td>Jan Franěk</td>
                <td>brankář</td>
                <td>česká</td>
                <td>Slezský FC Opava, FC Sellier & Bellot Vlašim</td>
              </tr>
            </tbody>
          </table>
          <p>
            In enim a arcu imperdiet malesuada.
            <strong> Nulla pulvinar eleifend sem.</strong> Fusce suscipit libero
            eget elit. Nullam justo enim, consectetuer nec, ullamcorper ac,
            vestibulum in, elit. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            <a href="#">Nulla pulvinar eleifend sem.</a> Proin in tellus sit
            amet nibh dignissim sagittis. In convallis. Pellentesque pretium
            lectus id turpis. In dapibus augue non sapien. Proin mattis lacinia
            justo.
          </p>
          <ol>
            <li>
              <a href="#">Základní informace</a>
            </li>
            <li>
              <a href="#">Historie klubu</a>
            </li>
            <li>Vedení</li>
            <li>
              <a href="#">Kontakty</a>
            </li>
          </ol>
          <p>
            Maecenas libero. Nullam justo enim, consectetuer nec, ullamcorper
            ac, vestibulum in, elit. Sed vel lectus. Donec odio tempus molestie,
            porttitor ut, iaculis quis, sem. Nullam at arcu a est sollicitudin
            euismod. Aliquam in lorem sit amet leo accumsan lacinia. Etiam
            bibendum elit eget erat. Maecenas libero. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
      </div>
      <div class="col-lg-4">{% include "@components/aside/aside.twig" %}</div>
    </div>
  </div>
  <div class="pubs mt-16">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/posts/posts.twig" %} {% endblock %}
