{% extends "@components/base/base.twig" %} {% set title = "12.0_homepage-2" %}
{% block main %} {% include "@components/topstory/topstory.twig" %}
<div class="pubs">
  <div class="container-fluid">
    <div class="row g-4">
      <div class="col-lg-4">
        <a href="#" target="_blank">
          <img
            src="https://via.placeholder.com/550x150"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" target="_blank">
          <img
            src="https://via.placeholder.com/550x150"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" target="_blank">
          <img
            src="https://via.placeholder.com/550x150"
            loading="lazy"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% include "@components/scoreboard/scoreboard.twig" %} {% include
"@components/hp-posts/hp-posts.twig" %} {% include
"@components/fanshop/fanshop.twig" %}

<div class="hp-border-section">
  <section class="hp-social">
    <div class="container">
      <div class="row g-10 mb-3">
        <div class="col-lg-8">
          {% include "@components/socialStream/socialStream.twig" %}
        </div>
        <div class="col-lg-4">
          {% include "@components/socialNews/socialNews.twig" %}
        </div>
      </div>
      <a href="#" class="link ml-auto">Další zprávy</a>
    </div>
  </section>

  <div class="pubs">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="https://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}








 <div class="hexGrid" id="hexGrid">
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">24</div>
              <p>teams</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">12</div>
              <p>Countries</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">101</div>
              <p>Games</p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">16</div>
              <p>
                Clubs with a sustainability strategy, officer or mention on
                their website
              </p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--medium">24,265 km</div>
              <p>
                Travel distance saved thanks to schedule &amp; trip optimising
                software
              </p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--medium">37 &amp; 38</div>
              <p>
                Number of international flights taken by teams. Commercial &amp;
                Charter
              </p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">24</div>
              <p>Number of bus rides taken by teams</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--medium">11% vs 89%</div>
              <p>% of flights vs. car rides by Game Officials</p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">97</div>
              <p>Number of flight segments taken by CHL staff</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">100%</div>
              <p>of zero emission vehicles in CHL staff fleet</p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">24%</div>
              <p>% of bus rides from total team trips</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--medium">112 (15%)</div>
              <p>Number of under 20 players during the 2024/25 season</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">4889</div>
              <p>Number of jerseys produced (incl. Fan jerseys)</p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--small">80 for 101 Games</div>
              <p>
                rink board advertisement productions. (27 locally &amp; 49
                centrally produced and 4 Games with LED rink boards)
              </p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--small">107 of 137 (78%)</div>
              <p>of the game official helmets were re-used</p>
            </div>
          </div>
        </div>
        <div class="hex-row">
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">Only 3</div>
              <p>Venue Managers had to cross national borders for 101 games</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title">39</div>
              <p>Shipments of Advertisement Materials outside of Switzerland</p>
            </div>
          </div>
          <div class="hex">
            <div class="hexIn">
              <div class="hex__title hex__title--small">
                15 locally &amp; 9 centrally
              </div>
              <p>
                produced back wall advertisement (as of Playoffs). LED
                infrastructured used where possible
              </p>
            </div>
          </div>
        </div>
      </div>
