{% extends "@components/base/base.twig" %} {% set title = "16.0_trainers" %} {%
block main %}

<section class="trainers-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <h1 class="h1 mb-4">A-Tým - Realizační tým</h1>
        <div class="table-section__inner">
          <div class="o-content">
            <h2 class="h3 mb-3 mt-5">A mužstvo</h2>
            <table class=" ">
              <tbody>
                <tr>
                  <td class="item long">trenér</td>
                  <td>
                    <a
                      title="Radoslav Kováč"
                      class="pirobox_gall"
                      href="/foto/top24/radoslav_kovac.jpg"
                      >Radoslav Kováč</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">asistent trenéra</td>
                  <td>
                    <a
                      title="Miroslav Holeňák"
                      class="pirobox_gall"
                      href="/foto/top24/miroslav_holenak.jpg"
                      >Miroslav Holeňák</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">asistent trenéra</td>
                  <td>
                    <a
                      title="David Mikula"
                      class="pirobox_gall"
                      href="/foto/top24/david_mikula.jpg"
                      >David Mikula</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">trenér brankářů</td>
                  <td>
                    <a
                      title="David Hampel"
                      class="pirobox_gall"
                      href="/foto/top24/david_hampel.jpg"
                      >David Hampel</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">kondiční trenér</td>
                  <td>
                    <a
                      title="Michal Hampel"
                      class="pirobox_gall"
                      href="/foto/top24/michal_hampel.jpg"
                      >Michal Hampel</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">kondiční trenér</td>
                  <td>Michal Hornig</td>
                </tr>

                <tr>
                  <td class="item long">vedoucí týmu</td>
                  <td>
                    <a
                      title="Jiří Neuman"
                      class="pirobox_gall"
                      href="/foto/top24/jiri_neuman.jpg"
                      >Jiří Neuman</a
                    >&nbsp;-&nbsp;<a
                      href="mailto:jiri.neuman@fcslovanliberec.cz"
                      >e-mail</a
                    >&nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="item long">kustod A týmu</td>
                  <td>
                    <a
                      title="Petr Ulihrach"
                      class="pirobox_gall"
                      href="/foto/top24/petr_ulihrach.jpg"
                      >Petr Ulihrach</a
                    >
                    -
                    <a href="mailto:petr.ulihrach@fcslovanliberec.cz">e-mail</a>
                  </td>
                </tr>
                <tr>
                  <td class="item long">doktor A týmu</td>
                  <td>MUDr. Ladislav Dzan, Ph.D.</td>
                </tr>
                <tr>
                  <td class="item long">doktor A týmu</td>
                  <td>
                    <a
                      title="MUDr. Pavel Buchvald, Ph.D."
                      class="pirobox_gall"
                      href="/foto/top24/pavel_buchvald.jpg"
                      >MUDr. Pavel Buchvald, Ph.D.</a
                    >
                  </td>
                </tr>
                <tr>
                  <td class="item long">masér A týmu</td>
                  <td>
                    <a
                      title="Václav Brendl"
                      class="pirobox_gall"
                      href="/foto/top24/vaclav_brendl.jpg"
                      >Václav Brendl</a
                    >
                  </td>
                </tr>

                <tr>
                  <td class="item long">masér A týmu</td>
                  <td>
                    <a
                      title="Andrej Dejneka"
                      class="pirobox_gall"
                      href="/foto/top24/andrej_dejneka.jpg"
                      >Andrej Dejneka</a
                    >
                  </td>
                </tr>

                <tr>
                  <td class="item long">fyzioterapeut A týmu</td>
                  <td>Jan Čížek</td>
                </tr>

                <tr>
                  <td class="item long">fyzioterapeut A týmu</td>
                  <td>
                    <a
                      title="Matěj Šerý"
                      class="pirobox_gall"
                      href="/foto/top24/matej_sery.jpg"
                      >Matěj Šerý</a
                    >
                  </td>
                </tr>

                <tr>
                  <td class="item long">fyzioterapeut A týmu</td>
                  <td>
                    <a
                      title="Tomáš Hybner"
                      class="pirobox_gall"
                      href="/foto/top24/tomas_hybner.jpg"
                      >Tomáš Hybner</a
                    >
                  </td>
                </tr>

                <tr>
                  <td class="item long">videoanalytik</td>
                  <td>
                    <a
                      title="Jan Šlégl"
                      class="pirobox_gall"
                      href="/foto/top24/jan_slegl.jpg"
                      >Jan Šlégl</a
                    >
                  </td>
                </tr>

                <tr>
                  <td class="item long">videoanalytik</td>
                  <td>Josef Gazdík</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/posts/posts.twig" %} {% endblock %}
