{% extends "@components/base/base.twig" %} {% set title = "17.0_trainers-2" %}
{% block main %}
<section class="team-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <h1 class="h1 mb-4 pr-4">A-Tým - Realizační tým</h1>

        <div class="team-section__content">
          <h2 id="brankari" class="h2 mb-4">A mužstvo</h2>

          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="team-section__item">
                <div class="team-section__ava">
                  <img
                    src="images/content/defaultplayer.png"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div class="team-section__info w-100">
                  <h2 class="h2">
                    <span>Lukáš</span>
                    Hasalík
                  </h2>
                  <div class="text-start">asistent trenéra</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pubs mt-16">
      <div class="row g-4">
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="htps://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-lg-6">
          <a href="#" target="_blank">
            <img
              src="htps://via.placeholder.com/632x150"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "@components/posts/posts.twig" %} {% endblock %}
