{% extends "@components/base/base.twig" %} {% set title = "23.0_hall-of-fame" %}
{% block main %}

<section class="static-section mt-16">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <h1 class="h1 mb-4 pr-4">Dvorana slávy</h1>

        <div class="o-content hallOfFame-section">
          <h4>člen Dvorany #1</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/dvorana_slavy/ds_janu.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            Tomáš Janů
          </h3>
          <p>Hráč ligového týmu v letech 1998–2013.</p>
          <p>S počtem 311 ligových startů je klubovým rekordmanem.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 18. ledna 2014.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #2</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/dvorana_slavy/ds_skorpil.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            Ladislav Škorpil
          </h3>
          <p>Trenér ligového týmu v letech 1998–2004 a 2007–2009.</p>
          <p>
            Pod jeho vedením získal FC Slovan Liberec v sezóně 2001/02 svůj
            historicky první titul Mistra ČR.
          </p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 17. ledna 2015.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #3</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/dvorana_slavy/ds_papousek.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            Petr Papoušek
          </h3>
          <p>Hráč ligového týmu v letech 2002–2011.</p>
          <p>Vynikal mimořádnou kopací technikou a střelou z dálky.</p>
          <p>V našem dresu odehrál 219 ligových zápasů.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 16. ledna 2016.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #4</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/dvorana_slavy/ds_stajner.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            Jiří Štajner
          </h3>
          <p>Hráč ligového týmu v letech 2000–2002 a 2010–2013.</p>
          <p>Vynikající útočník vstřelil v dresu Slovanu 57 ligových branek.</p>
          <p>Podílel se na dvou ligových titulech.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 21. ledna 2017.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #5</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/dvorana_slavy/ds_maier.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            Ladislav Maier
          </h3>
          <p>Ve Slovanu působil v letech 1992–1998.</p>
          <p>
            Byl tedy v brance, když Slovan postoupil do ligy a odehrál první
            ligové zápasy.
          </p>
          <p>V našem dresu odchytal 148 zápasů a vychytal 50 nul.</p>
          <p>Ladislav Maier má stříbrnou medaili z ME 1996.</p>
          <p>Je členem Klubu ligových brankářů.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 20. ledna 2018.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #6</h4>
          <h3>
            <img
              src="https://www.fcslovanliberec.esports.czhttps://fcslovanliberec.esports.cz/img/lexa.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            JOSEF LEXA
          </h3>
          <p>Hráč ligového týmu v letech 1994–2001.</p>
          <p>
            Liberecký odchovanec a řízný obránce si v dresu Slovanu připsal
            celkem 175 ligových startů.
          </p>
          <p>Podílel se na zisku první pohárové trofeje klubu.</p>
          <p>Odehrál i památné dvojutkání proti FC Liverpool.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 18. ledna 2019.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #7</h4>
          <h3>
            <img
              src="https://www.fcslovanliberec.esports.czhttps://fcslovanliberec.esports.cz/img/janacek.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            LIBOR JANÁČEK
          </h3>
          <p>Ve Slovanu působil v letech 1991-1999.</p>
          <p>
            Pracovitý záložník pomohl k postupu do nejvyšší soutěže, kde pak v
            libereckém dresu nastoupil do 183 zápasů a vstřelil 10 branek.
          </p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 25. ledna 2020.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #8</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/josef_sural.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            JOSEF ŠURAL
          </h3>
          <p>Ve Slovanu působil v letech 2011-2015.</p>
          <p>
            Podílel se na zisku mistrovského titulu (2012) i domácího poháru
            (2015).
          </p>
          <p>
            Byl důležitým členem týmu, který vybojoval postup ze skupiny
            Evropské ligy (2013).
          </p>
          <p>Ve 113 ligových zápasech vstřelil 30 gólů.</p>
          <p><strong>Čest jeho památce!</strong></p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 14. května 2021.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #9</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/top24/miroslav_holenak.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            MIROSLAV HOLEŇÁK
          </h3>
          <p>Hráč ligového týmu v letech 2000–2004 a 2007-2011.</p>
          <p>
            V dresu Slovanu si šikovný záložník a později obránce připsal celkem
            184 ligových startů a vstřelil 3 branky.
          </p>
          <p>
            Podílel se na zisku prvního ligového titulu (2002) a na úspěšném
            tažení v evropských pohárech.
          </p>
          <p>Po skončení hráčské kariéry v klubu 11 let působil jako trenér.</p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uveden dne 17. září 2022.
          </p>
          <div class="clear"></div>
          <h4>člen Dvorany #10</h4>
          <h3>
            <img
              src="https://fcslovanliberec.esports.cz/foto/hraci/2023/mladez/pizlova_ivana.jpg"
              class="https://fcslovanliberec.esports.cz/foto"
              style="max-width: 400px"
            />
            IVA PIŽLOVÁ
          </h3>
          <p>Hráčka ženského týmu v letech 2007-2016 a od 2021.</p>
          <p>
            V dresu Slovanu působila jako hráčka i brankářka od založení
            ženského týmu v roce 2007.
          </p>
          <p>
            Jako první liberecká hráčka se dostala i do ženské reprezentace.
          </p>
          <p>
            Kromě Slovanu hrála ženskou ligu i za Slavii Praha, Krásnou Studánku
            a Spartu Praha.
          </p>
          <p class="uveden">
            Do Dvorany slávy FC Slovan Liberec uvedena dne 3. září 2023.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <aside class="aside">
          <div class="aside-box">
            <h2 class="h4 mb-1">Klub</h2>
            <ul class="aside__menu">
              <li>
                <a href="/vedeni-klubu">Vedení</a>
              </li>
              <li>
                <a href="/historie">Historie</a>
              </li>
              <li>
                <a href="/kontakt">Kontakt</a>
              </li>
              <li>
                <a href="/dvorana-slavy" class="active">Dvorana slávy</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>

<div class="bg-white">
  <section class="posts">
    <div class="container">
      <h5 class="h4 mb-3">Aktuálně na webu</h5>
      <div class="row g-5">
        <div class="col-xl-3 col-lg-6">
          <a
            href="/cz/article/16151-Michal-Hlavaty-po-zapase-s-Boleslavi-Pristi-tyden-se-fanouskum-plne-odvdecime"
            class="hp-posts__item"
          >
            <div class="hp-posts__img">
              <img
                src="/image?file=https://fcslovanliberec.esports.cz/foto/Michal-Hlavat-oslava.jpg&w=636&h=358"
                alt=""
                loading="lazy"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Ohlasy</li>
              </ul>
              <div class="hp-posts__title">
                Michal Hlavatý po zápase s Boleslaví: Příští týden se fanouškům
                plně odvděčíme
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a
            href="/cz/article/16150-Prakticke-informace-pro-hostujici-fanousky-mirici-na-stadion-U-Nisy"
            class="hp-posts__item"
          >
            <div class="hp-posts__img">
              <img
                src="/image?file=https://fcslovanliberec.esports.cz/foto/slovanslavie01/API_4814.jpeg&w=636&h=358"
                alt=""
                loading="lazy"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">včera</li>
                <li class="tags__tag">Fanoušci</li>
              </ul>
              <div class="hp-posts__title">
                Praktické informace pro hostující fanoušky mířící na stadion U
                Nisy
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a
            href="/cz/article/16147-Lukas-Masek-Chteli-jsme-vyhrat-ale-za-bod-musime-byt-radi"
            class="hp-posts__item"
          >
            <div class="hp-posts__img">
              <img
                src="/image?file=https://fcslovanliberec.esports.cz/foto/top25/Masek.jpg&w=636&h=358"
                alt=""
                loading="lazy"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">20. 7. 2025</li>
                <li class="tags__tag">Ohlasy</li>
              </ul>
              <div class="hp-posts__title">
                Lukáš Mašek: Chtěli jsme vyhrát, ale za bod musíme být rádi
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-6">
          <a
            href="/cz/match/5647-Becko-zvladlo-treti-pripravne-utkani-prehralo-Povltavskou-fotbalovou-akademii"
            class="hp-posts__item"
          >
            <div class="hp-posts__img">
              <img
                src="/image?file=https://fcslovanliberec.esports.cz/foto/slobenatky00/API_4904.jpeg&w=636&h=358"
                alt=""
                loading="lazy"
              />
            </div>
            <div class="hp-posts__info">
              <ul class="tags">
                <li class="tags__date">20. 7. 2025</li>
                <li class="tags__tag">Zápas B-tým</li>
              </ul>
              <div class="hp-posts__title">
                Béčko zvládlo třetí přípravné utkání, přehrálo Povltavskou
                fotbalovou akademii
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  {% include "@components/posts/posts.twig" %} {% endblock %}
</div>
