{% extends "@components/base/base.twig" %} {% set title = "15.0_women-homepage"
%} {% block main %}
<section class="team-section mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="section-header">
          <h1 class="h1 mb-4 pr-4">Soupiska Ženy 2025/26</h1>
          <div class="section-header__menu mb-4">
            <div class="section-header__select">
              <div class="section-header__select-name">Výběr sezony:</div>
              <select class="js-select" onchange="location = this.value;">
                <option value="/cz/zeny/roster/ZEN/2026" selected>
                  2025/26
                </option>
                <option value="/cz/zeny/roster/ZEN/2024">2023/2024</option>
                <option value="/cz/zeny/roster/ZEN/2023">2022/2023</option>
                <option value="/cz/zeny/roster/ZEN/2022">2021/2022</option>
                <option value="/cz/zeny/roster/ZEN/2021">2020/2021</option>
                <option value="/cz/zeny/roster/ZEN/2020">2019/2020</option>
                <option value="/cz/zeny/roster/ZEN/2019">2018/2019</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2018">2017/2018</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2017">2016/2017</option>
                <option value="/cz/zeny/roster/ZEN/2016">2015/2016</option>
                <option value="/cz/zeny/roster/ZEN/2016">2015/2016</option>
                <option value="/cz/zeny/roster/ZEN/2016">2015/2016</option>
                <option value="/cz/zeny/roster/ZEN/2016">2015/2016</option>
                <option value="/cz/zeny/roster/ZEN/2015">2014/2015</option>
                <option value="/cz/zeny/roster/ZEN/2015">2014/2015</option>
                <option value="/cz/zeny/roster/ZEN/2015">2014/2015</option>
                <option value="/cz/zeny/roster/ZEN/2015">2014/2015</option>
                <option value="/cz/zeny/roster/ZEN/2014">2013/2014</option>
                <option value="/cz/zeny/roster/ZEN/2014">2013/2014</option>
                <option value="/cz/zeny/roster/ZEN/2014">2013/2014</option>
                <option value="/cz/zeny/roster/ZEN/2013">2012/2013</option>
                <option value="/cz/zeny/roster/ZEN/2013">2012/2013</option>
                <option value="/cz/zeny/roster/ZEN/2013">2012/2013</option>
                <option value="/cz/zeny/roster/ZEN/2012">2011/2012</option>
              </select>
            </div>
          </div>

          <ul class="section-header__links section-header__links--navigation">
            <li>
              <a href="/cz/zeny/roster/ZEN">Soupiska</a>
            </li>
            <li>
              <a href="/cz/zeny/realizacni-tym-ZEN">Realizační tým</a>
            </li>
            <li>
              <a href="" target="_blank">Zápasy</a>
            </li>
            <li>
              <a href="" target="_blank">Tabulka</a>
            </li>
          </ul>
          <ul class="section-header__links">
            <li>
              <a href="#brankari">Brankáři</a>
            </li>
            <li>
              <a href="#obranci">Obránci</a>
            </li>
            <li>
              <a href="#zaloznici">Záložníci</a>
            </li>
            <li>
              <a href="#utocnici">Útočníci</a>
            </li>
          </ul>
        </div>

        <div class="team-section__content">
          <h2 id="brankari" class="h2 mb-4">Brankáři</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2372/ZEN">
                <div class="team-section__ava">
                  <img src="images/content/woman.png" loading="lazy" alt="" />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Alexandra</span>
                    Kroupová
                  </h2>
                  <div class="team-section__number">22</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2246/ZEN">
                <div class="team-section__ava">
                  <img src="images/content/woman.png" loading="lazy" alt="" />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Eliška</span>
                    Pelcová
                  </h2>
                  <div class="team-section__number">16</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/199/ZEN">
                <div class="team-section__ava">
                  <img src="images/content/woman.png" loading="lazy" alt="" />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Iva</span>
                    Pižlová
                  </h2>
                  <div class="team-section__number">77</div>
                </div>
              </a>
            </div>
          </div>

          <h2 id="obranci" class="h2 mb-4">Obránci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2268/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.cz/assets/images/defaultPlayer.png&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Marie</span>
                    Bohatová
                  </h2>
                  <div class="team-section__number">4</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/801/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Veronika-Cerna.png?1758018985&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Veronika</span>
                    Černá
                  </h2>
                  <div class="team-section__number">13</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2449/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.cz/assets/images/defaultPlayer.png&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Aneta</span>
                    Dědinová
                  </h2>
                  <div class="team-section__number">9</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2299/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Katerina-Marcinkova.png?1758018879&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Kateřina</span>
                    Marcinková
                  </h2>
                  <div class="team-section__number">3</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2375/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Natalie-Rollova.png?1758018916&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Natálie</span>
                    Rollová
                  </h2>
                  <div class="team-section__number">27</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2374/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Aneta-Svobodova.png?1758019026&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Aneta</span>
                    Svobodová
                  </h2>
                  <div class="team-section__number">28</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2249/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Denisa-Tenkratova.png?1758019004&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Denisa</span>
                    Tenkrátová
                  </h2>
                  <div class="team-section__number">6</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2298/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Barbora-Vargova.png?1758018994&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Barbora</span>
                    Vargová
                  </h2>
                  <div class="team-section__number">5</div>
                </div>
              </a>
            </div>
          </div>

          <h2 id="zaloznici" class="h2 mb-4">Záložníci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/1713/ZEN">
                <div class="team-section__ava">
                  <img src="images/content/woman.png" loading="lazy" alt="" />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Aneta</span>
                    Buryánová
                  </h2>
                  <div class="team-section__number">8</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/1056/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Tereza-Cerna.png?1758018969&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Tereza</span>
                    Černá
                  </h2>
                  <div class="team-section__number">7</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2369/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Nela-Krejcirova.png?1758018924&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Nela</span>
                    Krejčířová
                  </h2>
                  <div class="team-section__number">12</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2370/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Katerina-Vithova.png?1758018886&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Kateřina</span>
                    Vithová
                  </h2>
                  <div class="team-section__number">15</div>
                </div>
              </a>
            </div>
          </div>

          <h2 id="zaloznici" class="h2 mb-4">Záložníci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2368/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Michaela-Ferencova.jpg?1758019279&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Michaela</span>
                    Ferencová
                  </h2>
                  <div class="team-section__number">14</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2088/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Michaela-Harvilova.png?1758018901&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Michaela</span>
                    Harvilová
                  </h2>
                  <div class="team-section__number">11</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2377/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Radka-Jakubu.png?1758018943&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Radka</span>
                    Jakubů
                  </h2>
                  <div class="team-section__number">19</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2297/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/aneta-surova.png?1758015229&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Aneta</span>
                    Surová
                  </h2>
                  <div class="team-section__number">17</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2355/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Sofia-Anna-Skerdova.png?1758018962&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Sofia Anna</span>
                    Škerdová
                  </h2>
                  <div class="team-section__number">10</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2376/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Sarlota-Truxova.png?1758018954&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Šarlota</span>
                    Truxová
                  </h2>
                  <div class="team-section__number">21</div>
                </div>
              </a>
            </div>
          </div>

          <h2 id="utocnici" class="h2 mb-4">Útočníci</h2>
          <div class="row g-5 mb-10">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2252/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Radka-Hlouchova.png?1758018936&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Radka</span>
                    Hlouchová
                  </h2>
                  <div class="team-section__number">18</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2378/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Michaela-Nemeckova.png?1758018908&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Michaela</span>
                    Němečková
                  </h2>
                  <div class="team-section__number">23</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/1000/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Denisa-Skalova.png?1758018998&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Denisa</span>
                    Skálová
                  </h2>
                  <div class="team-section__number">25</div>
                </div>
              </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
              <a class="team-section__item" href="/cz/zeny/player/2161/ZEN">
                <div class="team-section__ava">
                  <img
                    src="/image?file=https://fcslovanliberec.esports.cz/foto/2025_Pozadi-Zeny/Anna-Subrtova.png?1758019033&w=477&h=582"
                    loading="lazy"
                    alt=""
                  />
                </div>
                <div
                  class="team-section__info d-flex justify-content-between align-items-end"
                >
                  <h2 class="h2">
                    <span>Anna</span>
                    Šubrtová
                  </h2>
                  <div class="team-section__number">32</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@components/posts/posts.twig" %} {% endblock %}
